<h1 class="mb-4 text-xl font-semibold">Créer un plat</h1>
<form [formGroup]="dishForm" (ngSubmit)="submitDish()" class="grid gap-6 lg:grid-cols-2">

  <!-- Informations Plat -->
  <section class="card space-y-4">
    <h2 class="text-lg font-semibold">Créer un plat</h2>

    <div>
      <label class="label">Nom du plat</label>
      <input class="input" formControlName="name" placeholder="Pizza Bufala" />
    </div>

    <div>
      <label class="label">Description</label>
      <textarea class="input" rows="5" formControlName="description"
        placeholder="Mozzarella di bufala, tomate, basilic..."></textarea>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label class="label">Prix (€)</label>
        <input class="input" type="number" formControlName="price" placeholder="12.90" />
      </div>

      <div>
        <label class="label">Catégorie</label>
        <input class="input" formControlName="category" placeholder="Italien, Pizza" />
      </div>
    </div>
  </section>

  <!-- Image & Options -->
  <section class="card space-y-4">

    <div>
      <label class="label">Image (URL)</label>
      <input class="input" formControlName="imageUrl" placeholder="https://..." />
    </div>

    <div>
      <label class="label">Ingrédients (séparés par ,)</label>
      <input class="input" formControlName="ingredients" placeholder="tomate, mozza, basilic" />
    </div>

    <div class="flex gap-4 text-sm mt-2">
      <label><input type="checkbox" formControlName="veggie" /> Veggie</label>
      <label><input type="checkbox" formControlName="spicy" /> Épicé</label>
      <label><input type="checkbox" formControlName="vegan" /> Vegan</label>
    </div>
  </section>

  <div class="lg:col-span-2 flex justify-end gap-3">
    <button type="button" class="btn-outline" (click)="cancel()">Annuler</button>
    <button type="submit" class="btn-primary">Enregistrer & Soumettre</button>
  </div>
</form>

